<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  </head>
  <body>
     <div class="container">
       <div class="jumbotron">
         <h1>Welcome to home page!</h1>
         <h2>Go to /resumefill to fill out the resume details</h2>
      </div>
    </div>     
  </body>
</html>
